h1{
    color:red;
    font-family:'montserrat', sans-serif;
    text-align: center;
    background: 10px;
    background-color: black;
    padding: 10px;
}
body{
    background-color:#0a0a0a;
    font-family: 'open sans', sans-serif;
}
h2{
    color:blue;
    font-family:'montserrat', sans-serif;
}

.quote{
    font-style: italic;
    color: white;
    text-align: center;
    margin: 20px;
}
.warning{
    color: red;
    font-weight: bold;
    text-align: center;
    margin: 20px;
}

.judul-menu{
    background-color: rgb(0, 0, 0);
    border: 4px solid white;
    border-radius: 25px;
    text-transform: uppercase;
    padding: 20px;
    color: white;
    text-align: center;
    font-family: 'montserrat', sans-serif;
    font-size: 50px;
    margin: 60px
}

.list-beranda{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin: 20px;
    text-align: center;
}
.list-beranda a{
    background-color: rgb(248, 70, 70);
    border: 4px solid white;
    padding: 20px;
    border-radius: 25px;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* min-height: 150px; */
    align-items: center;
    transition: transform 0.4s;
}
.list-beranda a:hover{
    transform: translateY(-10px);
    background-color: #222;
    border-color: #ff0033;
    box-shadow: 0 15px 30px rgba(255, 0, 51, 0.5);
}
.list-beranda a:hover h3 {
    color: #ffffff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.list-beranda a:hover span {
    color: #ff0033;
}
.list-beranda h3{
    font-family: 'montserrat', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

/* } 
.list-beranda span{
    font-size: 0.9rem;
    color: #ffffff;
    margin-top: 10px;
}

body{
    background-color:lightgrey;
    font-family:'open sans', sans-serif;

}
ul{
    list-style-type:square;
}
a{
    text-decoration:none;
    color:green;

}
a:hover{
    text-decoration:underline;
    color:orange;

}
p{
    font-size:16px;
    color:black;

}
hr{
    border:2px solid black;

} */